<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <div id="root">
        <div class="container">
            <%- include('header') %>
            <ul>
                <% messages.forEach(message => { %>
                    <li class="<%= message.name === 'Me' ? 'me' : '' %>">
                        <p class="message-author"> <%= message.name %> </p>
                        <p class="message-content"> <%= message.message %> </p>
                        <a href="/message-details/<%= message.id %>" class="more-info">More info</a>
                    </li>
                <% }) %>
            </ul>
            <a href="/new" class="button">New message</a>
        </div>
    </div>
</body>
</html>